<ion-view class="BackgroundSignInButton">

    <ion-nav-buttons side="left">

        <button class="button" style="border: 0; background: transparent" ui-sref="SignIn"><i class="icon button-icon icon-clear ion-arrow-left-a"></i>
        </button>

    </ion-nav-buttons>

    <ion-content class="padding" scroll="false">


        <div class="list inputStyle">
            <form action="">
                                <label class="item item-input">
                                    <input ng-model="user.email" type="email" placeholder="Email">
                                </label>

                                <label class="item item-input" style="margin-top:5%">
                                    <input ng-model="user.password" type="password" placeholder="Password">
                                </label>

            </form>
        </div>
        <div class="logButtonPage">
                <button  class="button button-default" ng-click="login()">Connexion</button>
            </div>
    </ion-content>
</ion-view>
