<ion-view class="backgroundNeutre">

    <ion-content>

        <div class="buttonTuto1">


                <img src="../img/Noeud-Gordien.png" style=" width: 80px; background: transparent" alt="submit" />

        </div>

        <div class="tutoTextStyle">
            <p>C'est ici que vous validez vos quêtes.</p>
            <p>Différentes informations seront affichées que vous faisiez partie d'une équipe ou d'une autre !</p>
            <p> A vous de jouer !</p>
        </div>

        <div class="buttonValTuto">
            <button class="button button-default" ui-sref="tab.dash"> Suivant
            </button>
        </div>

    </ion-content>
</ion-view>