<ion-view class="backgroundNeutre">

    <ion-content>

        <div class="buttonTuto1">

                <img src="../img/plume.png" style=" width: 80px; background: transparent" alt="submit" />


        </div>

        <div class="tutoTextStyle">
            <p>Utilisez le chat pour vous échanger des informations et ainsi arriver au bout de vos quêtes !</p>
            <p>Chaque équipe dispose d'une couleur différente.
            </p>
        </div>

        <div class="buttonValTuto">
            <button class="button button-default" ui-sref="Tuto3"> Suivant
            </button>
        </div>

    </ion-content>
</ion-view>